cache:
  - C:/Users/appveyor/AppData/Local/pip/Cache/wheels

environment:

  global:
    # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
    # /E:ON and /V:ON options are not enabled in the batch script intepreter
    # See: http://stackoverflow.com/a/13751649/163740
    WITH_COMPILER: "cmd /E:ON /V:ON /C .\\.appveyor\\run_with_compiler.cmd"

  matrix:

    # Pre-installed Python versions, which Appveyor may upgrade to
    # a later point release.
    # See: http://www.appveyor.com/docs/installed-software#python

    - PYTHON: "C:\\Python27"
      PYTHON_VERSION: "2.7.x" # currently 2.7.9
      PYTHON_ARCH: "32"
      TOXENV: "py27"
      TOXPYTHON: "C:\\Python27\\python.exe"

    - PYTHON: "C:\\Python27-x64"
      PYTHON_VERSION: "2.7.x" # currently 2.7.9
      PYTHON_ARCH: "64"
      WINDOWS_SDK_VERSION: "v7.0"
      TOXENV: "py27"
      TOXPYTHON: "C:\\Python27-x64\\python.exe"

init:
  - "ECHO %PYTHON% %PYTHON_VERSION% %PYTHON_ARCH%"

install:
  - ps: New-Item -Force -ItemType directory -Path "C:/Users/appveyor/AppData/Local/pip/Cache/wheels"
  - ps: ls C:/Users/appveyor/AppData/Local/pip/Cache/wheels
  - ps: Copy-Item -Path "./.appveyor/pip.ini" -Destination "c:/Users/appveyor/pip/pip.ini" -Force
  - "powershell .appveyor\\install.ps1"

build: off

test_script:
  - ps: ls C:/Users/appveyor/AppData/Local/pip/Cache/wheels

after_test:
  - ps: ls c:/Users/appveyor/pip/wheels
